.App {
  text-align: center;
  background: #fffcf7;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.CharacterName {
  text-transform: uppercase;
  font-weight: 600;
}

.ScriptLine {
  margin: 1em 10em;
  text-align: center;
}

.script-text {
  margin: 0 auto;
  width: auto;
  cursor: pointer;
  list-style: none;
}

.script-text:hover{
  background: lightskyblue;
  transition: 1s background;
}

.playhead {
  background: red;
}

.ontainer {

}

.alert-hidden {
  display: none;
}

.alert-show {
  color: red;
}

.upload-form-hide {
  display: none;
}

.upload-form-reveal {
  transition: display 2s;
}

.instructions-hide {
  display: none;
}

.nav-items h2 {
  font-size: 30px;
  float: left;
  display: inline;
  margin-top: -20px;
}

.nav-items li {
  list-style: none;
  font-size: 12px;
  display: inline;
  padding: 10px;
  margin: 0 5px;
}

.log-out {
  border: 1px solid white;
}

.log-out:hover {
  background: white;
  color: black;
  cursor: pointer
}

.nav-items ul {
  margin: 50px -100px 10px 0px;
}

#auth-parent{
  display: flex;
  margin: 0 25em;
}

#auth-col-left {
  width: 350px;
  height: 300px;
  margin: 0 2em;
  border: 0.25px solid darkgrey;
  background: lightgrey;
}

#auth-col-left input, label {
  margin-left: 10px;
}
#auth-col-right input, label {
  margin-left: 10px;
}

.auth-col-button {
  margin-top: 20px;
  width: 100px;
  text-transform: uppercase;
  border: 0.25px solid darkgrey;
  border-radius: 5px;
  background: black;
  color: white;
}

.auth-col-button:hover{
  background: white;
  color: black;
  cursor: pointer;
}

#auth-col-right {
  width: 350px;
  border: 0.25px solid darkgrey;
  background: lightgrey;
}

#upload-form {
  margin: 1em 20em;
  border: 1px solid lightgrey;
  width: 30em;
  height: 15em;
}

#upload-form input {
  display: block;
  margin: 2em 15em;
}

.button-bar {
  margin: 20px 0px;
}

.button-bar button {
  margin: 0px 10px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  text-transform:capitalize;
  border: 0.25px solid lightgrey;
  background: black;
  color: white;
}

.button-bar button:hover{
  background: white;
  color: black;
  cursor: pointer;
}

#upload-name, #upload-submit, #upload-file {
  border-radius: 4px;
  height: 30px;
  width: 200px;
}

#upload-submit {
  background: black;
  color: white;
}

#upload-submit:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.play-controller {
  margin: 20px 0px;
  width:  auto;
}

.play-controller button{
  width: 200px;
  height: 50px;
  font-size: 16px;
  text-transform:capitalize;
  border: 0.25px solid lightgrey;
  margin: 0em 1em;
  background: black;
  color: white;
}

.play-controller button:hover{
  background: white;
  color: black;
  cursor: pointer;
}

.text-container{
  border: 2px solid black;
  padding: 5px;
  margin: 0 auto;
  width: 27em;
  text-align: left;
  overflow: scroll;
}

.text-container p {
  padding: 2px;
}
